* {
	font-family: 'Open Sans';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
	background-color: #bfbfbf;
}

header {
	background-color: #cc0000;
	text-align: center;
	padding: 20px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: white;
	/* Cambiar el color del texto a rojo */
	margin: 0 1px;
	padding: 1px 1px;
	border-radius: 30px;
}

nav a:hover {
	background-color: red;
	color: white;
}

.logo {
	border-radius: 200px;
	border: 5px solid #000;
	width: 60px;
}

.espacio {
	padding: 2px;
	background-color: #000;
}

.maps {
	text-align: center;
	font-size: 30px;
	margin-top: 100px;
	color: white;
}
.btmaps {
	background-color: #cc0000;
	color: #a6a6a6;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 30px;
	text-decoration: none;
	border: solid 4px black;
}

.logotipo {
	text-align: left;
}


.encabezado-img {
	background-image: url(/);
	background-size: cover;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #a40000;
	animation: fade 5s;

}

.encabezado-img p {
	margin-top: 10px;
	font-size: 15px;
}

.encabezado-img h1 {
	font-size: 15px;
	padding: 10px 0;

}

.Biotaller {
	display: flex;
	font-size: 50px;
	text-align: center;
	justify-content: center;

	animation: fade 5s;
}

.Biotaller ,h3 {
	font-size: 35px;
	margin-top: 10px;
	color: #a40000;
}


.foto {
	border-radius: 100px;
}

.text {
	display: flex;
	margin-top: 10px;
	color: black;
}



.foto2 {
	border-radius: 100px;
	border: red;
}

.google {
	display: flex;
	text-align: center;
	justify-content: center;
}

.trab {
	animation: tbr 2s 1;
}


footer {
	margin-top: 200px;
	background-color: black;
	color: black;
	text-align: center;
	padding: 20px;
}

.redes-sociales a {
	color: green;
	font-size: 2rem;
	margin: 0 10px;
	padding: 5px;
	display: inline-block;
}

body>footer>div>a:nth-child(5)>i {
	color: red;
}

body>footer>div>a:nth-child(4)>i {
	color: green;
}

body>footer>div>a:nth-child(3)>i {
	color: #DD2A7B;
}

body>footer>div>a:nth-child(2)>i {
	color: purple;
}

body>footer>div>a:nth-child(1)>i {
	color: #3B5998;
}




@keyframes Persona {
	from {
		transform: translateX(-700px);
	}

	to {
		transform: translateX(10px);
	}
}

@keyframes Persona2 {
	from {
		transform: translateX(-800px);
	}

	to {
		transform: translateX(10px);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}


@media (max-width: 390px) {

	* {
		font-family: 'Open Sans';
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	body {
		background-color: #bfbfbf;
	}
	
	header {
		background-color: #cc0000;
		text-align: center;
		padding: 20px;
	}
	
	nav a {
		display: inline-block;
		text-decoration: none;
		color: white;
		/* Cambiar el color del texto a rojo */
		margin: 0 1px;
		padding: 1px 10px;
		border-radius: 30px;
	}
	
	nav a:hover {
		background-color: #cc0000;
		color: white;
	}
	
	.logo {
		border-radius: 200px;
		border: 5px solid #000;
		width: 60px;
	}
	
	.espacio {
		padding: 2px;
		background-color: #000;
	}

	.maps {
		text-align: center;
		font-size: 30px;
		margin-top: 100px;
		color: white;
	}
	.btmaps {
		background-color: #cc0000;
		color: #a6a6a6;
		padding: 10px;
		padding-left: 50px;
		padding-right: 50px;
		border-radius: 30px;
		text-decoration: none;
		border: solid 4px black;
	}
	
	.logotipo {
		text-align: left;
	}
	
	
	.encabezado-img {
		background-image: url(/);
		background-size: cover;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #a40000;
		animation: fade 5s;
	
	}
	
	.encabezado-img p {
		margin-top: 50px;
		font-size: 15px;
	}
	
	.encabezado-img h1 {
		margin-top: 90px;
		font-size: 15px;
		padding: 10px 0;
	
	}
	
	.Biotaller {
		display: flex;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	
		animation: fade 5s;
	}
	
	.Biotaller ,h3 {
		font-size: 28px;
		margin-top: 60px;
		color: #a40000;
	}
	
	
	.foto {
		border-radius: 100px;
	}
	
	.text {
		display: flex;
		margin-top: 10px;
		color: black;
	}
	
	
	
	.foto2 {
		border-radius: 100px;
		border: red;
	}
	
	.google {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.trab {
		animation: tbr 2s 1;
	}
	
	
	footer {
		margin-top: 220px;
		background-color: black;
		color: black;
		text-align: center;
		padding: 20px;
	}
	
	.redes-sociales a {
		color: green;
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
	}
	
	body>footer>div>a:nth-child(5)>i {
		color: red;
	}
	
	body>footer>div>a:nth-child(4)>i {
		color: green;
	}
	
	body>footer>div>a:nth-child(3)>i {
		color: #DD2A7B;
	}
	
	body>footer>div>a:nth-child(2)>i {
		color: purple;
	}
	
	body>footer>div>a:nth-child(1)>i {
		color: #3B5998;
	}
	
	
	
	
	@keyframes Persona {
		from {
			transform: translateX(-700px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes Persona2 {
		from {
			transform: translateX(-800px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes fade {
		0% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	}
	
}



@media (max-width: 384px) {
	
	* {
		font-family: 'Open Sans';
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	body {
		background-color: #bfbfbf;
	}
	
	header {
		background-color: #cc0000;
		text-align: center;
		padding: 20px;
	}
	
	nav a {
		display: inline-block;
		text-decoration: none;
		color: white;
		/* Cambiar el color del texto a rojo */
		margin: 0 1px;
		padding: 1px 10px;
		border-radius: 30px;
	}
	
	nav a:hover {
		background-color: #cc0000;
		color: white;
	}
	
	.logo {
		border-radius: 200px;
		border: 5px solid #000;
		width: 60px;
	}

	.espacio {
		padding: 2px;
		background-color: #000;
	}
	
	.maps {
		text-align: center;
		font-size: 30px;
		margin-top: 100px;
		color: white;
	}
	.btmaps {
		background-color: red;
		color: #a6a6a6;
		padding: 10px;
		padding-left: 50px;
		padding-right: 50px;
		border-radius: 30px;
		text-decoration: none;
		border: solid 4px black;
	}
	
	.logotipo {
		text-align: left;
	}
	
	
	.encabezado-img {
		background-image: url(/);
		background-size: cover;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #a40000;
		animation: fade 5s;
	
	}
	
	.encabezado-img p {
		margin-top: 50px;
		font-size: 15px;
	}
	
	.encabezado-img h1 {
		margin-top: 90px;
		font-size: 15px;
		padding: 10px 0;
	
	}
	
	.Biotaller {
		display: flex;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	
		animation: fade 5s;
	}
	
	.Biotaller ,h3 {
		font-size: 28px;
		margin-top: 60px;
		color: #a40000;
	}
	
	
	.foto {
		border-radius: 100px;
	}
	
	.text {
		display: flex;
		margin-top: 10px;
		color: black;
	}
	
	
	
	.foto2 {
		border-radius: 100px;
		border: red;
	}
	
	.google {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.trab {
		animation: tbr 2s 1;
	}
	
	
	footer {
		margin-top: 220px;
		background-color: black;
		color: black;
		text-align: center;
		padding: 25px;
	}
	
	.redes-sociales a {
		color: green;
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
	}
	
	body>footer>div>a:nth-child(5)>i {
		color: red;
	}
	
	body>footer>div>a:nth-child(4)>i {
		color: green;
	}
	
	body>footer>div>a:nth-child(3)>i {
		color: #DD2A7B;
	}
	
	body>footer>div>a:nth-child(2)>i {
		color: purple;
	}
	
	body>footer>div>a:nth-child(1)>i {
		color: #3B5998;
	}
	
	
	
	
	@keyframes Persona {
		from {
			transform: translateX(-700px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes Persona2 {
		from {
			transform: translateX(-800px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes fade {
		0% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	}
	
} 

@media (max-width: 768px) {

	* {
		font-family: 'Open Sans';
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	body {
		background-color: #bfbfbf;
	}
	
	header {
		background-color: #cc0000;
		text-align: center;
		padding: 20px;
	}
	
	nav a {
		display: inline-block;
		text-decoration: none;
		color: white;
		/* Cambiar el color del texto a rojo */
		margin: 0 1px;
		padding: 1px 1px;
		border-radius: 30px;
	}
	
	nav a:hover {
		background-color: #cc0000;
		color: white;
	}
	
	.logo {
		border-radius: 200px;
		border: 5px solid #000;
		width: 80px;
	}
	
	.espacio {
		padding: 2px;
		background-color: #000;
	}

	.maps {
		text-align: center;
		font-size: 30px;
		margin-top: 100px;
		color: white;
	}
	.btmaps {
		background-color: #cc0000;
		color: #a6a6a6;
		padding: 10px;
		padding-left: 50px;
		padding-right: 50px;
		border-radius: 30px;
		text-decoration: none;
		border: solid 4px black;
	}
	
	.logotipo {
		text-align: left;
	}
	
	
	.encabezado-img {
		background-image: url(/);
		background-size: cover;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #a40000;
		animation: fade 5s;
	
	}
	
	.encabezado-img p {
		margin-top: 50px;
		font-size: 15px;
	}
	
	.encabezado-img h1 {
		margin-top: 90px;
		font-size: 15px;
		padding: 10px 0;
	
	}
	
	.Biotaller {
		display: flex;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	
		animation: fade 5s;
	}
	
	.Biotaller ,h3 {
		font-size: 28px;
		margin-top: 60px;
		color: #a40000;
	}
	
	
	.foto {
		border-radius: 100px;
	}
	
	.text {
		display: flex;
		margin-top: 10px;
		color: black;
	}
	
	
	
	.foto2 {
		border-radius: 100px;
		border: red;
	}
	
	.google {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.trab {
		animation: tbr 2s 1;
	}
	
	
	footer {
		margin-top: 229px;
		background-color: black;
		color: black;
		text-align: center;
		padding: 25px;
	}
	
	.redes-sociales a {
		color: green;
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
	}
	
	body>footer>div>a:nth-child(5)>i {
		color: red;
	}
	
	body>footer>div>a:nth-child(4)>i {
		color: green;
	}
	
	body>footer>div>a:nth-child(3)>i {
		color: #DD2A7B;
	}
	
	body>footer>div>a:nth-child(2)>i {
		color: purple;
	}
	
	body>footer>div>a:nth-child(1)>i {
		color: #3B5998;
	}
	
	
	
	
	@keyframes Persona {
		from {
			transform: translateX(-700px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes Persona2 {
		from {
			transform: translateX(-800px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes fade {
		0% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	}
	
}



@media (min-width: 768px) {

	* {
		font-family: 'Open Sans';
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	body {
		background-color: #bfbfbf;
	}
	
	header {
		background-color: #cc0000;
		text-align: center;
		padding: 20px;
	}
	
	nav a {
		display: inline-block;
		text-decoration: none;
		color: white;
		/* Cambiar el color del texto a rojo */
		margin: 0 1px;
		padding: 1px 10px;
		border-radius: 30px;
		font-size: 35px;
	}
	
	nav a:hover {
		background-color: #cc0000;
		color: white;
	}
	
	.logo {
		border-radius: 200px;
		border: 5px solid #000;
		width: 80px;
	}
	
	.espacio {
		padding: 2px;
		background-color: #000;
	}

	.maps {
		text-align: center;
		font-size: 35px;
		margin-top: 120px;
		color: white;
	}
	.btmaps {
		background-color: #cc0000;
		color: #a6a6a6;
		padding: 10px;
		padding-left: 50px;
		padding-right: 50px;
		border-radius: 30px;
		text-decoration: none;
		border: solid 4px black;
	}
	
	.logotipo {
		text-align: left;
	}
	
	
	.encabezado-img {
		background-image: url(/);
		background-size: cover;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #a40000;
		animation: fade 5s;
	
	}
	
	.encabezado-img p {
		margin-top: 55px;
		font-size: 30px;
	}
	
	.encabezado-img h1 {
		margin-top: 120px;
		font-size: 25px;
		padding: 10px 0;
	
	}
	
	.Biotaller {
		display: flex;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	
		animation: fade 5s;
	}
	
	.Biotaller ,h3 {
		font-size: 55px;
		margin-top: 60px;
		color: #a40000;
	}
	
	
	.foto {
		border-radius: 100px;
	}
	
	.text {
		display: flex;
		margin-top: 10px;
		color: black;
	}
	
	
	
	.foto2 {
		border-radius: 100px;
		border: red;
	}
	
	.google {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.trab {
		animation: tbr 2s 1;
	}
	
	
	footer {
		margin-top: 340px;
		background-color: black;
		color: black;
		text-align: center;
		padding: 20px;
	}
	
	.redes-sociales a {
		color: green;
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
	}
	
	body>footer>div>a:nth-child(5)>i {
		color: red;
	}
	
	body>footer>div>a:nth-child(4)>i {
		color: green;
	}
	
	body>footer>div>a:nth-child(3)>i {
		color: #DD2A7B;
	}
	
	body>footer>div>a:nth-child(2)>i {
		color: purple;
	}
	
	body>footer>div>a:nth-child(1)>i {
		color: #3B5998;
	}
	
	
	
	
	@keyframes Persona {
		from {
			transform: translateX(-700px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes Persona2 {
		from {
			transform: translateX(-800px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes fade {
		0% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	
	}
}



@media (min-width: 1440px) {

	* {
		font-family: 'Open Sans';
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	body {
		background-color: #bfbfbf;
	}
	
	header {
		background-color: #cc0000;
		text-align: center;
		padding: 20px;
	}
	
	nav a {
		display: inline-block;
		text-decoration: none;
		color: white;
		/* Cambiar el color del texto a rojo */
		margin: 0 1px;
		padding: 1px 10px;
		border-radius: 30px;
		font-size: 40px;
	}
	
	nav a:hover {
		background-color: #cc0000;
		color: white;
	}
	
	.logo {
		border-radius: 200px;
		border: 5px solid #000;
		width: 80px;
	}
	
	.espacio {
		padding: 2px;
		background-color: #000;
	}
	
	.maps {
		text-align: center;
		font-size: 55px;
		margin-top: 120px;
		color: white;
	}
	.btmaps {
		background-color: #cc0000;
		color: #a6a6a6;
		padding: 10px;
		padding-left: 100px;
		padding-right: 100px;
		border-radius: 30px;
		text-decoration: none;
		border: solid 4px black;
	}
	
	.logotipo {
		text-align: left;
	}
	
	
	.encabezado-img {
		background-image: url(/);
		background-size: cover;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #a40000;
		animation: fade 5s;
	
	}
	
	.encabezado-img p {
		margin-top: 55px;
		font-size: 50px;
	}
	
	.encabezado-img h1 {
		margin-top: 250px;
		font-size: 65px;
		padding: 10px 0;
	
	}
	
	.Biotaller {
		display: flex;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	
		animation: fade 5s;
	}
	
	.Biotaller ,h3 {
		font-size: 75px;
		margin-top: 130px;
		color: #a40000;
	}
	
	
	.foto {
		border-radius: 100px;
	}
	
	.text {
		display: flex;
		margin-top: 10px;
		color: black;
	}
	
	
	
	.foto2 {
		border-radius: 100px;
		border: red;
	}
	
	.google {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.trab {
		animation: tbr 2s 1;
	}
	
	
	footer {
		margin-top: 340px;
		background-color: black;
		color: black;
		text-align: center;
		padding: 20px;
	}
	
	.redes-sociales a {
		color: green;
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
	}
	
	body>footer>div>a:nth-child(5)>i {
		color: red;
	}
	
	body>footer>div>a:nth-child(4)>i {
		color: green;
	}
	
	body>footer>div>a:nth-child(3)>i {
		color: #DD2A7B;
	}
	
	body>footer>div>a:nth-child(2)>i {
		color: purple;
	}
	
	body>footer>div>a:nth-child(1)>i {
		color: #3B5998;
	}
	
	
	
	
	@keyframes Persona {
		from {
			transform: translateX(-700px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes Persona2 {
		from {
			transform: translateX(-800px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes fade {
		0% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	
	}
}


@media (max-width: 360px) {

	* {
		font-family: 'Open Sans';
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	

	body {
		background-color: #bfbfbf;
	}
	

	header {
		background-color: #cc0000;
		text-align: center;
		padding: 20px;
	}
	
	nav a {
		display: inline-block;
		text-decoration: none;
		color: white;
		/* Cambiar el color del texto a rojo */
		margin: 0 10px;
		padding: 1px 1px;
		border-radius: 30px;
	}
	
	nav a:hover {
		background-color: #990000;
		color: white;
	}
	
	.logo {
		border-radius: 200px;
		border: 5px solid #000;
		width: 60px;
	}

	.espacio {
		padding: 2px;
		background-color: #000;
	}
	
	.maps {
		text-align: center;
		font-size: 30px;
		margin-top: 60px;
		color: black;
	}
	.btmaps {
		background-color: #cc0000;
		color: #a6a6a6;
		padding: 10px;
		padding-left: 50px;
		padding-right: 50px;
		border-radius: 30px;
		text-decoration: none;
		border: solid 4px black;
	}
	
	.logotipo {
		text-align: left;
	}
	
	
	.encabezado-img {
		background-image: url(/);
		background-size: cover;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #a40000;
		animation: fade 5s;
	
	}
	
	.encabezado-img p {
		margin-top: 10px;
		font-size: 15px;
	}
	
	.encabezado-img h1 {
		font-size: 15px;
		padding: 10px 0;
	
	}
	
	.Biotaller {
		display: flex;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	
		animation: fade 5s;
	}
	
	.Biotaller ,h3 {
		font-size: 30px;
		margin-top: 30px;
		color: #a40000;
	}
	
	
	.foto {
		border-radius: 100px;
	}
	
	.text {
		display: flex;
		margin-top: 10px;
		color: black;
	}
	
	
	
	.foto2 {
		border-radius: 100px;
		border: red;
	}
	
	.google {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.trab {
		animation: tbr 2s 1;
	}
	
	
	footer {
		margin-bottom: 0px;
		background-color: black;
		color: black;
		text-align: center;
		padding: 20px;
	}
	
	.redes-sociales a {
		color: green;
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
	}
	
	body>footer>div>a:nth-child(5)>i {
		color: red;
	}
	
	body>footer>div>a:nth-child(4)>i {
		color: green;
	}
	
	body>footer>div>a:nth-child(3)>i {
		color: #DD2A7B;
	}
	
	body>footer>div>a:nth-child(2)>i {
		color: purple;
	}
	
	body>footer>div>a:nth-child(1)>i {
		color: #3B5998;
	}
	
	
	
	
	@keyframes Persona {
		from {
			transform: translateX(-700px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes Persona2 {
		from {
			transform: translateX(-800px);
		}
	
		to {
			transform: translateX(10px);
		}
	}
	
	@keyframes fade {
		0% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	
	}
	
}
