* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    font-family: 'Kanit', sans-serif;
}
.bi {
    margin-left: 10px;
}
.bi-tiktok{
    color: purple;
}

.bi-instagram {
    color: palevioletred;
}

.bi-facebook {
    color: #3399ff;
}

.bi-whatsapp {
    color:  #009933;
}
.social {
    padding-left: 1200px;
    margin: 10px;
    font-size: 20px;
}

.inicio {
    display: flex;
    flex-direction: row-reverse;
}

.inicio img {
    margin-top: 70px;
    width: 600px;
}

.inicio h1 {
    margin-left: 20px;
    margin-top: 100px;
    color: #e6e6e6;
}

.inicio p {
    margin-top: 2px;
}

.inicio a {
    margin-left: 0px;
    background-color: #b30000;
    text-decoration: none;
    color: #e6e6e6;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 3px black;
    font-size: 20px;
}

.web2 {
    display: flex;
}

.web2 p {
    color:  #e6e6e6;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 30px;
}

.web2 img {
    width: 140px;
    height: 140px;
    border-radius: 150px;
    border: solid 3px #e6e6e6;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.rig {
    display: flex;
    flex-direction: row-reverse;
}

.rig img {
    width: 140px;
    height: 140px;
    border-radius: 150px;
    border: solid 3px #e6e6e6;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rig p {
    color: #e6e6e6;
    margin-top: 35px;
    margin-right: 10px;
    font-size: 30px;
}

footer {
    display: flex;
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

footer a {
    font-size: 25px;
    margin-left: 10px;
}

@media (min-width: 390px){
 
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    body {
        background-color: #262626;
        font-family: 'Kanit', sans-serif;
    }
    .bi {
        margin-left: 10px;
    }
    .bi-tiktok{
        color: purple;
    }
    
    .bi-instagram {
        color: palevioletred;
    }
    
    .bi-facebook {
        color: #3399ff;
    }
    
    .bi-whatsapp {
        color:  #009933;
    }
    .social {
        padding-left: 100px;
        margin: 10px;
        font-size: 20px;
    }
    
    .inicio {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .inicio img {
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }
    
    .inicio h1 {
        margin-left: 20px;
        margin-top: 10px;
        color: #e6e6e6;
        font-size: 20px;
    }
    
    .inicio p {
        margin-top: 2px;
    }
    
    .inicio a {
        margin-left: 0px;
        background-color: #b30000;
        text-decoration: none;
        color: #e6e6e6;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 3px black;
        font-size: 13px;
    }
    
    .web2 {
        display: flex;
    }
    
    .web2 p {
        color:  #e6e6e6;
        margin-top: 35px;
        margin-left: 10px;
        font-size: 20px;
    }
    
    .web2 img {
        width: 100px;
        height: 100px;
        border-radius: 150px;
        border: solid 3px #e6e6e6;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
     
    .rig {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .rig img {
        width: 100px;
        height: 100px;
        border-radius: 150px;
        border: solid 3px #e6e6e6;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .rig p {
        color: #e6e6e6;
        margin-top: 35px;
        margin-right: 10px;
        font-size: 20px;
    }
    
    footer {
        display: flex;
        background-color: black;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        justify-content: center;
    }
    
    footer a {
        font-size: 25px;
        margin-left: 10px;
    }
    
}



@media (min-width: 768px) {

    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    body {
        background-color: #262626;
        font-family: 'Kanit', sans-serif;
    }
    .bi {
        margin-left: 10px;
    }
    .bi-tiktok{
        color: purple;
    }
    
    .bi-instagram {
        color: palevioletred;
    }
    
    .bi-facebook {
        color: #3399ff;
    }
    
    .bi-whatsapp {
        color:  #009933;
    }
    .social {
        padding-left: 300px;
        margin: 10px;
        font-size: 20px;
    }
    
    .inicio {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .inicio img {
        margin-top: 1px;
        width: 600px;
    }
    
    .inicio h1 {
        margin-left: 20px;
        margin-top: 10px;
        color: #e6e6e6;
    }
    
    .inicio p {
        margin-top: 2px;
    }
    
    .inicio a {
        margin-left: 0px;
        background-color: #b30000;
        text-decoration: none;
        color: #e6e6e6;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 3px black;
        font-size: 15px;
    }
    
    .web2 {
        display: flex;
    }
    
    .web2 p {
        color:  #e6e6e6;
        margin-top: 35px;
        margin-left: 10px;
        font-size: 30px;
    }
    
    .web2 img {
        width: 140px;
        height: 140px;
        border-radius: 150px;
        border: solid 3px #e6e6e6;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
     
    .rig {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .rig img {
        width: 140px;
        height: 140px;
        border-radius: 150px;
        border: solid 3px #e6e6e6;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .rig p {
        color: #e6e6e6;
        margin-top: 35px;
        margin-right: 10px;
        font-size: 30px;
    }
    
    footer {
        display: flex;
        background-color: black;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        justify-content: center;
    }
    
    footer a {
        font-size: 25px;
        margin-left: 10px;
    }
}


@media (min-width: 1440px) {
 
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    body {
        background-color: #262626;
        font-family: 'Kanit', sans-serif;
    }
    .bi {
        margin-left: 10px;
    }
    .bi-tiktok{
        color: purple;
    }
    
    .bi-instagram {
        color: palevioletred;
    }
    
    .bi-facebook {
        color: #3399ff;
    }
    
    .bi-whatsapp {
        color:  #009933;
    }
    .social {
        padding-left: 1260px;
        margin: 10px;
        font-size: 20px;
    }
    
    .inicio {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .inicio img {
        margin-right: 100px;
        margin-top: 70px;
        width: 600px;
    }
    
    .inicio h1 {
        margin-left: 1px;
        margin-top: 100px;
        color: #e6e6e6;
    }
    
    .inicio p {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    .inicio a {
        margin-left: 0px;
        background-color: #b30000;
        text-decoration: none;
        color: #e6e6e6;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 3px black;
        font-size: 20px;
    }
    
    .web2 {
        display: flex;
    }
    
    .web2 p {
        color:  #e6e6e6;
        margin-top: 35px;
        margin-left: 10px;
        font-size: 30px;
    }
    
    .web2 img {
        width: 140px;
        height: 140px;
        border-radius: 150px;
        border: solid 3px #e6e6e6;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
     
    .rig {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .rig img {
        width: 140px;
        height: 140px;
        border-radius: 150px;
        border: solid 3px #e6e6e6;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .rig p {
        color: #e6e6e6;
        margin-top: 35px;
        margin-right: 10px;
        font-size: 30px;
    }
    
    footer {
        display: flex;
        background-color: black;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        justify-content: center;
    }
    
    footer a {
        font-size: 25px;
        margin-left: 10px;
    }
}